# Node.js ignores
node_modules/

# Prototype ignores - per-user
.tmp/
.env
migrate.log
usage-data-config.json

# General ignores
.DS_Store
.idea
scripts/screenshot-task-visibility-all-tasks.mjs
screenshots/task-visibility-all-tasks/task-view-match-multi.png
screenshots/task-visibility-all-tasks/task-list-ol.png
screenshots/task-visibility-all-tasks/task-detail-theo.png
screenshots/task-visibility-all-tasks/task-detail-dennis.png
screenshots/task-visibility-all-tasks/task-detail-completed.png
screenshots/task-visibility-all-tasks/manage-task.png
screenshots/task-visibility-all-tasks/manage-task-all-actions-BK.png
screenshots/task-visibility-all-tasks/manage-allocation.png
screenshots/task-visibility-all-tasks/dashboard.png
screenshots/task-visibility-all-tasks/daily-metrics-parked.png
screenshots/task-visibility-all-tasks/confirm-connect.png
screenshots/task-visibility-all-tasks/assign-single.png
screenshots/task-visibility-all-tasks/assign-bulk.png
screenshots/task-visibility-all-tasks/all-tasks-overview.png
screenshots/task-visibility-all-tasks/all-tasks-overview-batch.png
screenshots/task-visibility-all-tasks/all-tasks-overview copy.png
screenshots/task-visibility-all-tasks/add-zendesk-tickets.png
screenshots/task-visibility-all-tasks/add-note.png
extensions/design-review/README.md
extensions/design-review/manifest.json
extensions/design-review/icon48.png
extensions/design-review/icon32.png
extensions/design-review/icon16.png
extensions/design-review/icon128.png
extensions/design-review/content.js
extensions/design-review/background.js
extensions/design-review-revamped/supabase-schema.sql
extensions/design-review-revamped/README.md
extensions/design-review-revamped/manifest.json
extensions/design-review-revamped/icon48.png
extensions/design-review-revamped/icon32.png
extensions/design-review-revamped/icon16.png
extensions/design-review-revamped/icon128.png
extensions/design-review-revamped/content.js
extensions/design-review-revamped/config.js
extensions/design-review-revamped/config.example.js
extensions/design-review-revamped/background.js
extensions/design-review-revamped.zip
extensions/design-review-prod/supabase-schema.sql
extensions/design-review-prod/README.md
extensions/design-review-prod/manifest.json
extensions/design-review-prod/icon48.png
extensions/design-review-prod/icon32.png
extensions/design-review-prod/icon16.png
extensions/design-review-prod/icon128.png
extensions/design-review-prod/content.js
extensions/design-review-prod/config.js
extensions/design-review-prod/config.example.js
extensions/design-review-prod/config copy.js
extensions/design-review-prod/background.js
extensions/design-review-prod/chrome-web-store-assets/store-icon-128x128.png
extensions/design-review-prod/chrome-web-store-assets/screenshot-02-1280x800.jpg
extensions/design-review-prod/chrome-web-store-assets/screenshot-01-1280x800.jpg
extensions/design-review-prod/chrome-web-store-assets/promo-small-440x280.jpg
extensions/design-review-prod/chrome-web-store-assets/promo-marquee-1400x560.jpg
extensions/design-review-prod/chrome-web-store-assets/extension-icon-48x48.png
extensions/design-review-prod/chrome-web-store-assets/extension-icon-32x32.png
extensions/design-review-prod/chrome-web-store-assets/extension-icon-16x16.png
extensions/design-review-prod/chrome-web-store-assets/extension-icon-128x128.png
extensions/design-review-prod.zip
